body {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #f5f5f5;
    color: #545454;
    min-width: 32rem;
    min-height: 21rem;
    justify-content: space-between;
}
body > * {
font-family: system-ui;
}
h2 {
    font-weight: 500;
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #545454;
        color: #f5f5f5;
    }
}
.header {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 3.14px;
}
img {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}
legend {
  color: rgb(207, 206, 206);
}
datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  width: 200px;
  margin-bottom: 1rem;
  position: relative;
  z-index: 3;
}

option {
  padding: 0;
}
select {
  border: none;
  background-color: #545454;
  color: white;
  cursor: pointer;
  min-width: 17rem;
  background-position: calc(100% - 0.75rem) center !important;
  padding-right: 2rem !important;
}
select:focus {
  outline: none;
}
.rangeLabel {
  display: flex;
  align-items: center;
}
.toggle {
    display: flex;
    width: 33rem;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.toggleLabel {
  margin-left: 1rem;
  font-size: larger;
}
.wrapperRange {
  display: inline-block;
  position: relative;
}
.range {
  --thumbWidth: 100;
  --thumbHeight: 30;
  --sliderHeight: 10;

  position: relative;
  display: flex;
  height: calc(var(--thumbHeight) * 1px);
  touch-action: none;
  color: #fff;
  margin: 2em;

  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: linear-gradient(to right, #1299E6, #A0D9F9);
    width: 100%;
    height: calc(var(--sliderHeight) * 1px);
    margin: auto 0;
    outline: none;

  }

  input:active::-webkit-slider-thumb {
    box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.4);
  }

  input::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: calc(var(--thumbHeight) * 1px);
    width: calc(var(--thumbWidth) * 1px);
    background: #1299E6;
    border-radius: 30px;
    cursor: grab;
    box-shadow: 0 0 0 0.2em #fff;
  }

  output {
    --x: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: calc(var(--x) * 1%);
    width: calc(var(--thumbWidth) * 1px);
    height: 100%;

    font-size: 0.85em;
    pointer-events: none;

    &::before {
      content: attr(data-val);
      margin-right: 0.5em;
    }
  }
}
.RangeInput {
  accent-color: #FF0000;
  background: transparent;
  border: none;
  outline: none;
}
.RangeInput:focus {
  outline: none;

}
.RangeInput:active {
  cursor: grabbing;
  opacity: inherit;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: flex;
  width: 30px;
  height: 14px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  top: -3px;
  left: -3px;
  -webkit-transition: .1s;
  transition: .1s;
}

input:checked + .slider {
  background-color: #920303;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ff0000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
  background-color: #ff0000;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  background-color: #999999;
}

.slider.round:before {
  border-radius: 50%;
}

.fieldset {
  border: solid 1px rgb(207, 206, 206);
  accent-color: #ff0000;
  padding-top: 0;
}