body {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #f5f5f5;
    color: #545454;
    margin-left: 1rem;
    min-width: 32rem;
    min-height: 21rem;
    justify-content: space-between;
}
h3 {
    font-weight: 500;
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #545454;
        color: #f5f5f5;
    }
}
select {
    width: 20rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    font-size: larger;
    border: none;
}
input[type="range" i] {
    position: relative;
    background: #fff0;
    overflow: hidden;
}

input[type="range" i] {
  accent-color: #ff0000;
  cursor: pointer;
}
input[type="range" i]:hover {
  accent-color: #ff0000;
  cursor: pointer;
}
input[type="range" i]:active {
    cursor: grabbing;
}

input[type="range" i]:disabled {
    filter: grayscale(1);
    opacity: 0.3;
    cursor: not-allowed;
}
.rangeLabel {
  display: flex;
  align-items: center;
}
.toggle {
    display: flex;
    width: 32rem;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.toggleLabel {
  margin-left: 1rem;
  font-size: larger;
}
.optionsWarning {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: larger;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: flex;
  width: 30px;
  height: 14px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  top: -3px;
  left: -3px;
  -webkit-transition: .1s;
  transition: .1s;
}

input:checked + .slider {
  background-color: #ff0000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ff0000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}